<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
    </head>
<body>
    <h2>{{>header}}</h2>
    <div class="container" id="home">
        <div>
            <h2>{{desc}}</h2>
            <a href="/service" id="service2">Go to Weather Page</a>
        </div>
        <div>
            <img src="images/map.jpg" alt="" />
        </div>

    </div>
    <h3>{{>footer}}</h3>

</body>
</html>